.person-picture {
    background-image: url('./../../../assets/img/person.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 400px;
}