<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h1 class="white">3D-Programming</h1>
      <h3 class="white">Serhiy Bolkun & Hamed Sadegh</h3>
      <p class="white">
        The "World Portals" project was created due to "3D-Programming" modul from HTW Dresden in 2021.
        As a team of two members we were inspired by modern web development and our purpose was to create something special and useful for our users.
        With the help of this project we improved our skills and we are instrested to prepare websites for virtual reality. Due to covid-19 
        VR has become a main stream and everyone is trying to create their own metaverse. Never the less web 3.0 is comming. Be ready!
      </p>
    </div>
    <div class="col-12 col-md-6">
      <div class="person-picture"></div>
    </div>
  </div>
</div>
