canvas {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s ease-in-out;
}

#canvas:hover {
  cursor: all-scroll;
}

/* Typography */
.custom-container {
  max-width: 100% !important;
  width: 100% !important;
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
  transition: 1s ease-in-out;
}

.app-login-component {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 1;
}

.app-about-component {
  position: absolute;
  top: 20%;
  right: 0;
}

.filter-content {
  max-width: 300px;
  width: 100%;
  margin: auto;
}

.vertical-align-center {
  top: 45%;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

p,
h1,
h2,
h3 {
  color: white;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.z-index-1 {
  z-index: 1;
}

.right-10x {
  right: 10px;
}

.left-50procent {
  left: 50%;
}

.top-45x {
  top: -45px;
}

.bottom-10x {
  bottom: 10px;
}

.h-80vh {
  height: 80vh;
}
