<div *ngIf="userData">
  <div class="container">
    <div class="row" *ngIf="userData.user">
      <div class="col-4">
        <div>
          <div mat-card-avatar class="user-profile-image"
            [ngStyle]="{'background-image': 'url('+ userData.user.photoURL +')'}">
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="m-l-10x">
          <h1 style="margin: 0;" class="form-header">Welcome!</h1>
          <h4>{{userData.user.displayName}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
