<div class="container add-form">
  <h1 class="form-header text-align-center">Thank You for Registering</h1>
  <flash-messages></flash-messages>
  <div *ngIf="userService.userData as user">
    <div *ngIf="userService.userData.emailVerified === false">
      <p style="color: orange;">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
      <p style="color: orange;">Please check your email (spam directory) and click on the link to verfiy your email address.</p>
    </div>
  </div>
  <div>
    <!-- Calling SendVerificationMail() method using userService Api -->
    <button type="button" class="form-control search" (click)="userService.SendVerificationMail()">
      Resend Verification Email
    </button>
  </div>
  <div style="padding-top: 10px;">
    <span style="color: orange;">Go back to <a class="link" (click)="backLogin()">Login</a></span>
  </div>
</div>