<div class="container add-form">
  <h1 class="form-header">Reset Password</h1>
  <flash-messages></flash-messages>
  <p style="text-align: center;">Please enter your email address to request a password reset.</p>
  <div class="form-control">
    <label>Email</label>
    <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
  </div>  
  <div class="form-footer">
    <!-- Calling ResetPassword from UserService Api -->
    <input type="submit" class="btn btnSuccess" value="Reset Password" (click)="userService.ResetPassword(passwordResetEmail.value)">
  </div>
  <div>
    <span>Go back to <a (click)="backLogin()">Login</a>?</span>
  </div>
</div>