<div class="container add-form">
  <h1 class="form-header text-align-center">Reset Password</h1>
  <flash-messages></flash-messages>
  <p style="text-align: center; color: orange;">Please enter your email to request a password reset</p>
  <div>
    <label class="form-label">Email</label>
    <input class="form-control" type="email" placeholder="Email" #passwordResetEmail required>
  </div>  
  <div>
    <!-- Calling ResetPassword from UserService Api -->
    <input type="submit" class="form-control search" value="Reset Password" (click)="userService.ResetPassword(passwordResetEmail.value)">
  </div>
  <div style="padding-top: 10px;">
    <span style="color: orange;">Go back to <a class="link" (click)="backLogin()">Login</a></span>
  </div>
</div>